.task {
  display: flex;
  background: lightblue;
  width: 100%;
  margin: 0 0 10px 0;
}

.task--completed {
  opacity: 0.3;
}

.task--completed .task-text {
  text-decoration: line-through;
}

.task-done {
  flex-shrink: 0;
  align-self: flex-start;
}

.task-text {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.task-del {
  flex-shrink: 0;
  align-self: flex-end;
}