.list {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid black;
  width: 100%;
}

.list-empty {
  padding: 5px 10px 5px 10px;
}

.list-tasks {
  width: 100%;
  flex-grow: 1;
  padding: 0 10px 0 10px;
}

.list-notes {
  width: 100%;
  flex-grow: 1;
  padding: 0 10px 0 10px;
  order: 1;
}

.list-title {
  margin: 25px 0 10px 0;
}

@media (min-width: 640px) {
  .list-tasks {
    max-width: 50%;
  }
  
  .list-notes {
    max-width: 50%;
    order: 0;
  }
}

@media (min-width: 960px) {
  .list-tasks {
    max-width: 45%;
  }
  
  .list-notes {
    max-width: 55%;
  }
}