.note {
  display: flex;
  background: lightblue;
  width: 100%;
  margin: 0 0 10px 0;
}

.note-text {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.note-del {
  flex-shrink: 0;
  align-self: flex-end;
}