.note {
  display: flex;
  background: #B4DCED;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 5px;
  border-bottom: 2px solid black;
}

.note-text {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.note-del {
  flex-shrink: 0;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  background-image: url('./clear.svg');
  background-position: center center;
  background-repeat: none;
}