@import 'variables.scss';

html {
  box-sizing: border-box;
  min-width: 320px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: $font-size-m;
  line-height: $line-height-m;
  font-weight: $font-weight-m;
}