$mobile-widths-only: "max-width: 639px";
$tablet-widths: "min-width: 640px";
$desktop-widths: "min-width: 920px";



$font-family: 'Montserrat', sans-serif;

$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 12px;

$line-height-m: 1.5;

$font-weight-l: 700;
$font-weight-m: 400;


